<div class="container">
<form [formGroup]="gameForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="gameName">Game-name:</label>
    <input type="text" formControlName="gameName" >
  </div>
  <div>
    <label for="isFlashCard">Flash-Card?</label>
    <input type="checkbox" (click)="toggleFlashCard()">

  </div>
  <br>
  <div class="flexer">
  <div formArrayName="content">
    <h4>Contents</h4>
  @for (input of content.controls; track $index){
    <div class="form-group">

      @if(!isFlashCard){
        <label for=`{{$index}}`>{{$index + 1}}</label>
        }
      <input type="text" [formControlName]="$index">
    </div>
  }
</div>
  @if(isFlashCard){
    <div formArrayName="definition">
      <h4>Definitions</h4>
      @for (input of definition.controls; track $index){
        <div class="form-group">
          <input type="text" [formControlName]="$index">
        </div>
      }
    </div>
  }
  </div>


  <button [disabled]="!gameForm.valid">Create!</button>
  @if(this.isError){
    <div class="error">
      <h4>Something went wrong!</h4>
      <p>Status: {{this.returnedError.status}} </p>
      <p>Message:{{this.returnedError.statusText}}</p>
      <p></p>
    </div>
  }

</form>
</div>
