<div class="container">
  <div class="chunk">
    @if(gameData){
      <h1>{{gameData.name}}</h1>
    }
  </div>
  <div class="table-container">
      <table>
        <tr>
          <th>Rank</th>
          <th>Score</th>
          <th>User</th>
        </tr>
        @for(score of scoreArray; track $index){
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{score.score}}</td>
            <td>{{score.user_id}}</td>
          </tr>
        }
      </table>
      @if(this.scorecard){
        <table>
          <tr>
            <th>Your ScoreCard:</th>
          </tr>
          <tr>
            <th>Correct</th>
            <td>{{scorecard.correctKeystrokes}}</td>
          </tr>
          <tr>
            <th>Possible</th>
            <td>{{scorecard.possibleKeystrokes}}</td>
          </tr>
          <tr>
            <th>Highest Multiplier</th>
            <td>x{{scorecard.highestMultiplier}}</td>
          </tr>
          <tr>
            <th>Time Remaining:</th>
            <td>{{scorecard.timeRemaining}}</td>
          </tr>
          <tr>
            <th>Total</th>
            <td id="newScore" (hover)="animateNumber('newScore')">{{scorecard.totalScore}}</td>
          </tr>
        </table>}

  </div>
  <div>
    <div class="chunk menu">
      <a (click)="tryAgain()">Try Again?</a>
      <a [routerLink]="['/list/']" routerLinkActive="active">Games</a>
    </div>

  </div>
</div>
