
.chunk{
  display: flex;
  background-color: #1C211F;
  width: max-content;
  padding: 1vh;
  margin: 1vh;
  border: 1px solid #53DD6C;
  border-radius: 5px;
  box-shadow: 2px 2px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content:center;

  margin: 3vh 10vh;
  justify-content: center;
  min-height: calc(100vh - 44px);
  align-items: center;
}
.table-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


a{

  margin: 5px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #53DD6C;
  color: #53DD6C;
  text-decoration: none;
}
a:hover{
  display: block;
  padding: 10px;
  color: #0A090C;
  background-color: #53DD6C;
  text-decoration: none;
}

table {
  margin: 1vw;
  grid-area: 1 / 1 / span 1 / span 2;
  border-collapse: collapse;
  align-content: center;
  border: 1px solid #53DD6C;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #1C211F;
}
