input{
  padding: .5rem;
  border: 1px solid #53DD6C;
  margin: .25rem;
  border-radius: 4px;
  color: #53DD6C;
  background-color: #2B2B2B;
}

input:focus{
  color: #D4AA7D;
  border-color: #D4AA7D;
  outline: none;
}

input[disabled]{
  color: grey;
  background-color: black;
  border-color: red;
}

.test{
  padding: .5rem;
  border: 1px solid #53DD6C;
  margin: .25rem;
  border-radius: 4px;
  color: #53DD6C;
  background-color: #2B2B2B;
}

.challenge{
  max-width: 50%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.response{
  width: max-content;
  align-self: flex-end;
  display: flex;
  justify-content:center;
}
.grid-container {
}

.chunk{
  display: block;
  width: max-content;
  background-color: #1C211F;
  padding: 1vh;
  margin: 2vh;
  border: 1px solid #53DD6C;
  border-radius: 5px;
  box-shadow: 2px 2px;
}

a{
  display: block;
}
