input{
  padding: .5rem;
  border: 1px solid #53DD6C;
  margin: .25rem;
  border-radius: 4px;
  color: #53DD6C;
  background-color: #2B2B2B;
}

input:focus{
  color: #D4AA7D;
  border-color: #D4AA7D;
  outline: none;
}

input[disabled]{
  color: grey;
  background-color: black;
  border-color: red;
}

.test{
  padding: .5rem;
  border: 1px solid #53DD6C;
  margin: .25rem;
  border-radius: 4px;
  color: #53DD6C;
  background-color: #2B2B2B;
}

.challenge{
  font-size: 24;
  padding: 1rem;
  max-width: 50%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: max-content;
}

.challenge a{
  font-size: .8rem;
  display: block;
  position: absolute;
  margin: -1.15rem 0px;
  color: var(--SH-ORANGE);
  background-color: #1C211F;
}

.response{
  display:flex;
  margin: 0;
  width: 60vw;
  align-self: flex-end;
  position: fixed;
  bottom: 0;
  justify-content:center;
}
.response input{
  width: 58vw;
}

.chunk{
  display: block;
  padding: 1rem;
  background-color: #1C211F;
  margin: 2vh;
  border: 1px solid #53DD6C;
  border-radius: 5px;
  box-shadow: 2px 2px;
}


