<div [formGroup]="form" class="grid-container">
  <div class="challenge chunk">
    <!-- @if(!this.form.value[this.instanceIndex]){} -->
      {{instance}}
    <!--  <a class="textAnimation">
      {{userResponse}}
    </a> -->
  </div>
  <div class="response chunk">
    <input type="text"
    [formControlName]="instanceIndex"
    [maxlength]="instance.length"
    (keyup)="test()"
    [size]="instance.length"
    autocomplete="off"
    autofocus
    required
    [id]="instanceIndex">

  </div>
</div>
