input{
  padding: .5rem;
  border: 1px solid #53DD6C;
  margin: .25rem;
  border-radius: 4px;
  color: #53DD6C;
  background-color: #2B2B2B;
}

input:focus{
  color: #D4AA7D;
  border-color: #D4AA7D;
  outline: none;
}

input[disabled]{
  color: grey;
  background-color: black;
  border-color: red;
}

.test{
  padding: .5rem;
  border: 1px solid #53DD6C;
  margin: .25rem;
  border-radius: 4px;
  color: #53DD6C;
  background-color: #2B2B2B;
}
