.test a{
  display: block;
  padding: 10px;
  border: 1px solid #53DD6C;
  color: #53DD6C;
  text-decoration: none;
  max-width: 10%;
}

.chunk{
  display: flex;
  background-color: #1C211F;
  padding: 1vh;
  margin: 2vh;
  border: 1px solid #53DD6C;
  border-radius: 5px;
  box-shadow: 2px 2px;
}
