<nav class="navbar">
  <div class="brand-name">
    <h3 routerLink="" routerLinkActive="active" class="title" id="SpeedHacker" (mouseenter)="toggleTitleHover()">Speed Hacker</h3>
  </div>
  <button (click)="fixit()">debug</button>
  <div class="nav-links">
    @if (isLoggedIn()){
      <a (click)="logout()">Logout</a>}
      @else{
        <a routerLink="/login">Login</a>
        <a routerLink="/signup">Signup</a>
      }
      <div class="menu-container" [class.active]="isSidebarVisible">
        <button class="menu" (click)="toggleSidebar()">☰</button>
      </div>
    </div>
</nav>
<div class="sidebar" [class.active]="isSidebarVisible">
  <a routerLink="list" routerLinkActive="active" (click)="toggleSidebar()">Games</a>
  <a routerLink="create" routerLinkActive="active" (click)="toggleSidebar()">Create</a>
</div>
