<nav class="navbar">
  <div class="nav-links">
    <div class="brand-name"><a routerLink="" routerLinkActive="active">Speed Hacker</a></div>
  </div>

  <div class="menu-container" [class.active]="isSidebarVisible">
    <button class="menu" (click)="toggleSidebar()">☰</button>
    </div>
</nav>
<div class="sidebar" [class.active]="isSidebarVisible">
  <a routerLink="list" routerLinkActive="active" (click)="toggleSidebar()">Games</a>
    <a routerLink="create" routerLinkActive="active" (click)="toggleSidebar()">Create</a>
</div>
