<h4>What is Speed Hacker?</h4>
<p>Speed Hacker is a fresh new take on typing applications.</p>
<p>Whether you're just trying to learn keyboard basics, a new language or advanced coding syntax, Speed Hacker is for you!</p>
<br>
<h4></h4>
<h4>Why a game?</h4>
<p>Studying can be a real chore, Gamification revolutionizes the rote by introducing an element of chance that rewards players for excellent performance</p>
<h4>Where do the games come from?</h4>
<p> Speed Hacker is a platform. All Games are user created, allowing for a diverse array of interests and challenges </p>
