@if(challenge){
  <div class="base">
  <div class="header">
    <div class="chunk title">

      @if(gameData) {
        <h1>{{gameData.name}}</h1>
      }
    </div>
    <div class="chunk timer">
      <h3>{{minutes}}
      @if(seconds > 9){:{{seconds}}}
        @else{:0{{seconds}}}</h3>

    </div>
  </div>
    <div>
      <app-content
      [challenge]="challenge"
      [challengeArray]="challengeArray"
      [form]="responseForm"
      [minutes]="minutes"
      [seconds]="seconds"
      [gameData]="gameData"></app-content>

    </div>
</div>}
