.base{
  padding: 3% 7% 0;
  color: #53DD6C;
  background-color: #0A090C;
}

.chunk{
  display: flex;
  background-color: #1C211F;
  padding: 1vh;
  margin: 1vh;
  border: 1px solid #53DD6C;
  border-radius: 5px;
  box-shadow: 2px 2px;
}


.title{
  justify-content: center;
}

a{
  margin: 1vh;
  display: block;
  padding: 10px;
  border: 1px solid #53DD6C;
  color: #53DD6C;
  text-decoration: none;
}
a:hover{
  display: block;
  padding: 10px;
  color: #0A090C;
  background-color: #53DD6C;
  text-decoration: none;
}
