<div class="base">
  <div class="chunk title"><h3>{{currentUser?.username}}'s Home </h3></div>
  <div class="row">
    <div class="chunk col">
      <a routerLink="list" routerLinkActive="active">Games</a>
      <a routerLink="create" routerLinkActive="active">Create</a>
    </div>
    <div class="chunk">
      @if(games){
        @for (game of games; track game.id){
          <app-game [game]="game"></app-game>
        }
      }
      @else{
        <p>Nothing to find.</p>
        <p>Create a game!</p>
      }


    </div>
  </div>
</div>
