.base{
  padding: 8px 7% 0;
  color: #53DD6C;
  background-color: #0A090C;
}

.chunk{
  display: flex;
  flex-direction: column;
  background-color: #1C211F;
  padding: 1vh;
  margin: 1vh;
  border: 1px solid #53DD6C;
  border-radius: 5px;
  box-shadow: 2px 2px;
}


.title{
  justify-content: center;
  align-items: center;
}

a{
  margin: 1vh;
  display: block;
  padding: 10px;
  border: 1px solid #53DD6C;
  color: #53DD6C;

  background-color: #0A090C;
  text-decoration: none;
  border-radius: 4px;
}
a:hover{
  display: block;
  padding: 10px;
  color: #0A090C;
  background-color: #53DD6C;
  text-decoration: none;
}

.row{
  display: grid;
  grid-template-columns: 43vw 43vw;
}
