/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}

html{
  color: #53DD6C;
  background-color: #0A090C;
  font-family: 'Courier New', Courier, monospace;
}


:root {
  /* COLORS */

  --SH-GREEN:       #53DD6C; /* Malachite */
  --SH-BLACK:       #0A090C; /* NIGHT */
  --SH-DARK-GRAY:   #1C211F; /* EERIE BLACK */
  --SH-GRAY:         #2B2B2B;
  --SH-ORANGE:      #dfa03f; /* BUFF */
}
/* Color bank
Blacks
  #0A090C - Night
  #1C211F - Eerie black
  #2B2B2B - Jet

Greens
  #28CC46 - Lime Green
  #53DD6C - Malachite Green

Orange?
  #D4AA7D - Buff
*/
