.entry{
  margin: 1vh;
  width: max-content;
  align-items: center;
  border: 1px solid #53DD6C;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #0A090C;
  border-bottom: 1px solid #2B2B2B;
}


.header-info-name{
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.content{
  padding: 15px;
  font-family: 'Open Sans';
  line-height: 1.6;
  color: #333;
}

.deleteEntry{
  background-color: red;
  border: 1px solid #0A090C;
  color:#0A090C;
}

.right a{
  display: block;
  padding: 10px;
  border: 1px solid #53DD6C;
  color: #53DD6C;
  background-color: #0A090C;
  text-decoration: none;
}
.right a:hover{
  display: block;
  padding: 10px;
  color: #0A090C;
  background-color: #53DD6C;
  text-decoration: none;
}

.chunk{
  display: flex;
  flex-wrap: wrap;
  background-color: #1C211F;
  padding: 1vh;
  margin: 1vh;
  border: 1px solid #53DD6C;
  border-radius: 5px;
  box-shadow: 2px 2px;
}
